{% extends "layouts/layout.html" %}

{% block title %}
Log In
{% endblock %}

{% block main %}
<!-- LOGIN -->
<!-- need to add managing error code -->
<div class="container">
    <div class="form-wrapper">
        <h1 class="text-center">Log in</h1>
        <form class="form" action="/login" method="post">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="input" name="username" placeholder="Enter Username">
                {% if username_error %}
                <div class="text-danger">{{ username_error }}</div>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control mb-3" id="inputPassword" name="password"
                    placeholder="Enter Password">
                {% if password_error %}
                <div class="text-danger">{{ password_error }}</div>
                {% endif %}
            </div>
            <div class="pl-2 pr-2">
                <a href="" class="text-white">Forgot Password</a>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Login</button>
            {% if login_error %}
            <div class="text-danger">{{ login_error }}</div>
            {% endif %}
            <div class="login-options text-center">
                <p>Don't have an account?
                    <a href="/register">Sign In</a>
                </p>
            </div>
        </form>
    </div>
</div>
{% endblock %}